<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @property.name %>
</p>

<p>
  <b>Description:</b>
  <%= @property.description %>
</p>

<p>
  <b>City:</b>
  <%= @property.city %>
</p>

<p>
  <b>State:</b>
  <%= @property.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @property.zip %>
</p>

<p>
  <b>Phone:</b>
  <%= @property.phone %>
</p>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
